 <div id="contact-us">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="section-heading">
           <h4>Contact Us</h4>
           <div class="line-dec"></div>
           <p>Nunc posuere non quam at pharetra. Mauris tincidunt purus vel ultrices malesuada. Integer euismod erat ut
             nulla ultrices, ut auctor eros feugiat.</p>
           <div class="pop-button">
             <h4>Send us a message</h4>
           </div>
         </div>
       </div>
     </div>
     <div class="row">
       <div class="col-md-6 col-md-offset-3">
         <div class="pop">
           <span>✖</span>
           <form id="contact" action="#" method="post">
             <div class="row">
               <div class="col-md-12">
                 <fieldset>
                   <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required>
                 </fieldset>
               </div>
               <div class="col-md-12">
                 <fieldset>
                   <input name="email" type="email" class="form-control" id="email" placeholder="Your email..."
                     required>
                 </fieldset>
               </div>
               <div class="col-md-12">
                 <fieldset>
                   <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..."
                     required></textarea>
                 </fieldset>
               </div>
               <div class="col-md-12">
                 <fieldset>
                   <button type="submit" id="form-submit" class="btn">Send Message</button>
                 </fieldset>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>
   </div>
 </div>
