<section id="about" class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <div class="icon">
            <img src="assets/img/service_icon_01.png" alt="">
          </div>
          <h4>Smart Notifications</h4>
          <div class="line-dec"></div>
          <p>Curabitur non risus fringilla libero accumsan molestie et quis justo. Cras aliquam tempor sem, vestibulum
            facilisis dui. Mauris malesuada porta.</p>
          <div class="primary-blue-button">
            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <div class="icon">
            <img src="assets/img/service_icon_02.png" alt="">
          </div>
          <h4>Lovely Web Design</h4>
          <div class="line-dec"></div>
          <p>Suspendisse magna mauris, convallis vel finibus eget, lobortis dictum neque. Nam tincidunt metus nec eros
            dignissim consectetur. Duis mollis.</p>
          <div class="primary-blue-button">
            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <div class="icon">
            <img src="assets/img/service_icon_03.png" alt="">
          </div>
          <h4>Quick Support</h4>
          <div class="line-dec"></div>
          <p>Etiam quis ullamcorper augue. Morbi leo libero, malesuada eget eleifend eu, interdum sed augue. Sed tempor
            mi quis rhoncus convallis.</p>
          <div class="primary-blue-button">
            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="service-item">
          <div class="icon">
            <img src="assets/img/service_icon_04.png" alt="">
          </div>
          <h4>One-Click Setup</h4>
          <div class="line-dec"></div>
          <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent
            viverra, nunc et mollis fermentum.</p>
          <div class="primary-blue-button">
            <a href="#" class="scroll-link" data-id="portfolio">Continue Reading</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
