<div id="map">
  <!-- How to change your own map point
            1. Go to Google Maps
            2. Click on your location point
            3. Click "Share" and choose "Embed map" tab
            4. Copy only URL and paste it within the src="" field below
        -->
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7895.485196115994!2d103.85995441789784!3d1.2880401763270322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7fb4e58ad9cd826e!2sSingapore+Flyer!5e0!3m2!1sen!2sth!4v1505825620371"
    width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="logo">
          <a class="logo-ft scroll-top" href="#"><em>T</em>inker</a>
          <p>Copyright &copy; 2017 Your Company
            <br>Design: templatemo</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="location">
          <h4>Location</h4>
          <ul>
            <li>30 Raffles Ave, <br>Singapore 039803</li>
            <li>1 Republic Blvd, <br>Singapore 038975</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-12">
        <div class="contact-info">
          <h4>More Info</h4>
          <ul>
            <li><em>Phone</em>: 090-090-0320</li>
            <li><em>Email</em>: tk@company.co</li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-12">
        <div class="connect-us">
          <h4>Get Social with us</h4>
          <ul>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-google"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
