<div class="header">
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand scroll-top"><em>T</em>inker</a>
      </div>
      <!--/.navbar-header-->
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#" class="scroll-top">Home</a></li>
          <li><a href="#" class="scroll-link" data-id="about">About Us</a></li>
          <li><a href="#" class="scroll-link" data-id="portfolio">Portfolio</a></li>
          <li><a href="#" class="scroll-link" data-id="blog">Blog</a></li>
          <li><a href="#" class="scroll-link" data-id="contact-us">Contact Us</a></li>
        </ul>
      </div>
      <!--/.navbar-collapse-->
    </nav>
    <!--/.navbar-->
  </div>
  <!--/.container-->
</div>
<!--/.header-->


<div class="parallax-content baner-content" id="home">
  <div class="container">
    <div class="text-content">
      <h2><em>TINKER</em> <span>HTML5</span> Template</h2>
      <p>Tinker is free HTML CSS template from templatemo.com that can be used for any kind of website. Please tell your
        friends about us. Thank you.</p>
      <div class="primary-white-button">
        <a href="#" class="scroll-link" data-id="about">Let's Start</a>
      </div>
    </div>
  </div>
</div>
