<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div id="owl-testimonials" class="owl-carousel owl-theme">
          <div class="item">
            <div class="testimonials-item">
              <p>“ Quisque ullamcorper odio a nisl lacinia dictum. Vestibulum malesuada ipsum in turpis finibus, ut
                sagittis erat scelerisque. Curabitur non risus fringilla libero accumsan molestie et quis justo. ”</p>
              <h4>George Rich</h4>
              <span>Web Designer</span>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-item">
              <p>“ Suspendisse magna mauris, convallis vel finibus eget, lobortis dictum neque. Nam tincidunt metus nec
                eros dignissim consectetur. ”</p>
              <h4>John Henry</h4>
              <span>New Manager</span>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-item">
              <p>“ Aenean semper aliquam est ut maximus. Fusce id diam eget orci lobortis ultricies at ac velit.
                Curabitur laoreet massa et fringilla sagittis. ”</p>
              <h4>Danny Cute</h4>
              <span>CEO Founder</span>
            </div>
          </div>
          <div class="item">
            <div class="testimonials-item">
              <p>“ Maecenas eu odio pharetra, elementum lorem eget, efficitur erat. Duis eget justo non nisi iaculis
                vestibulum. Aliquam erat volutpat. ”</p>
              <h4>Richard Beal</h4>
              <span>CSS Developer</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
